<%= error_messages(@faculty)%>
<table summary="Subject form fields">
  <tr>
    <th> <%=f.label(:fid)%></th>
    <td><%= f.text_field(:fid) %></td>
  </tr>
  <tr>
    <th><%= f.label(:fname)%></th>
    <td><%= f.text_field(:fname) %></td>
  </tr>
</table>
